<%- include('./partials/header',{ptitle:'Recipe Website by John'}) %>
<div class="topnav">
    <div class="search-container">
        <form action="./index" method='post' id="searchbar">
        <input type="text" placeholder="Search.." name="search" id="search">
        <button type="submit">Enter</button>
        </form>
    </div>
</div>
<div class="centerbox">
 <p>
    My favorite food is linguine pescatore and my cooking experience mainly involves microwaves and omlets.
 </p>
</div>